body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    /* min-height: 2000px; */
    overflow-x: hidden;
    /* background-color: aliceblue; */
	/* border: 1px solid black; */
}
/* div {
	border: 1px solid black;
} */
.black-bg {
    background-color: #000;
}
h1 {
    color: orange;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
h2 {
    color: orange;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: -5px;
    font-family: 'Poppins', sans-serif;
}
h3 {
    color: orange;
    font-family: 'Poppins', sans-serif;
}
p {
    font-size: 18px;
}
li>a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
}
a {
    text-decoration: none;
    color: orange;
    cursor: pointer;
}
*:focus {
    outline: none;
}
#hamburger {
    display: none;
}
#mobile-menu {
	display: none;
}
.mobile-block {
	display: none;
}
.non-mobile-block {
	display: relative;
}
.align-right {
    text-align: right;
    float: right;
}
img {
    width: 100%;
    height: auto;
}
.text-center {
    text-align: center;
}
.acc-color {
    color: #00467F;
}
input[type='button'] {
    font-family: 'Open Sans', sans-serif;
}

#header {
    /* background-color: aqua; */
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    max-height: 62px;
}
#header>div {
    max-height: 100%;
}
#logo-container {
	position: fixed;
	top: 0px;
	left: 15px;
	width: 20%;
	min-width: 205px;
    max-width: 330px;
    height: auto;
    z-index: 999;
    padding-top: 6px;
    /* border: 1px solid black; */
}
#header-logo {
    width: 100%;
    height: auto;
}
#header-link-bg {
    background-color: #00467F;
    /* opacity: 0.5; */
    border-radius: 10px;
    position: absolute;
    top: 12px;
    right: 10px;
    height: 40px;
    width: 850px;
    z-index: -1;
}
#header>.row>div>ul {
    list-style: none;
    display: inline;
}
#header>.row>div>ul>li {
    float: right;
    padding: 15px 20px 15px 20px;
    margin: 5px; 
    border-radius: 5px;
    color: #fff;
    position: relative;
    font-weight: bold;
}
#header>.row>div>ul>li:hover {
    color: orange;
    /* color: white; */
    cursor: pointer;
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
}
#header>.row>div>ul>li>.sub-menu {
    margin-top: 5px;
    padding-bottom: 15px;
    /* margin-left: -20px; */
    border-radius: 5px;
    /* padding: 10px; */
    position: absolute;
    min-width: 200px;
    max-width: 500px;
    height: auto;
    background-color: white;
    color: #000;
    max-height: 0px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    visibility: hidden;
    box-sizing: border-box;
    overflow: hidden;
    opacity: 0;
    font-size: 14px !important;
    transition: max-height 0.5s, opacity 0.3s;
}
#header>.row>div>ul>li:hover .sub-menu{
    visibility: visible;
    max-height: 500px;
    opacity: 1;
    font-weight: 400;
    transition: max-height 0.7s, opacity 0.3s;
}
#header>.row>div>ul>li>.sub-menu-right {
    right: 0px;
}
#header>.row>div>ul>li>.sub-menu-left {
    left: 0px;
}
#header>.row>div>ul>li>.sub-menu-nodesc {
    width: 200px;
}
.sub-menu-desc-col {
    border: 1px solid grey;
    padding: 10px 5px 10px 10px;
    margin: 10px;
    border-radius: 5px;
}
#header>.row>div>ul>li>.sub-menu-desc {
    width: 450px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.sub-menu>ul {
    list-style: none;
    display: inline;
}
.sub-menu>ul>li {
    padding: 10px 15px 10px 15px;
    /* border: 1px solid black; */
    margin: 0px 5px 0px 5px;
    /* max-width: 150px; */
    border-radius: 5px;
}
.sub-menu>ul>li:hover {
    color: orange;
    background-color: aliceblue;
    /* border: 1px solid blue; */
}
#first-section {
    min-height: 100vh;
}
#section-1 {
    min-height: 100vh;
    max-width: 100%;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    /* color: #fff;
    background: rgb(0,70,127);
    background: -moz-linear-gradient(left, rgba(0,70,127,1) 0%, rgba(0,140,255,1) 100%);
    background: -webkit-linear-gradient(left, rgba(0,70,127,1) 0%,rgba(0,140,255,1) 100%);
    background: linear-gradient(to right, rgba(0,70,127,1) 0%,rgba(0,140,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00467f', endColorstr='#008cff',GradientType=1 ); */
    padding-bottom: 50px;
    margin-bottom: -100px;
}
/* #first-section>div {
    border: 1px solid black; 
} */
.solid-btn {
    border: 0px;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    background: rgb(0,70,127);
    background: -moz-linear-gradient(left, rgba(0,70,127,1) 0%, rgba(0,140,255,1) 100%);
    background: -webkit-linear-gradient(left, rgba(0,70,127,1) 0%,rgba(0,140,255,1) 100%);
    background: linear-gradient(to right, rgba(0,70,127,1) 0%,rgba(0,140,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00467f', endColorstr='#008cff',GradientType=1 );
    padding: 15px 20px 15px 20px;
    margin: 10px 10px 10px 0px;
    font-size: 18px;
    transition: all 0.3s;
}
.solid-btn:hover {
    background: rgb(0,70,127);
    background: -moz-linear-gradient(left, rgba(0,70,127,1) 0%, rgba(0,70,127,1) 100%);
    background: -webkit-linear-gradient(left, rgba(0,70,127,1) 0%,rgba(0,70,127,1) 100%);
    background: linear-gradient(to right, rgba(0,70,127,1) 0%,rgba(0,70,127,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00467f', endColorstr='#008cff',GradientType=1 );
    transition: all 0.3s;
}
/* .outline-btn {
    border: 2px solid #008CFF;
    border-radius: 30px;
    color: #008CFF;
    font-size: 16px;
    background-color: rgba(0,0,0,0);
    padding: 15px 20px 15px 20px;
    margin: 10px 10px 10px 0px;
    font-size: 18px;
    transition: all 0.3s;
} */
.outline-btn {
    content: '»';
    border: 2px solid #008CFF;
    border-radius: 10px;
    /* color: #008CFF; */
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    background-color: #008CFF;
    /* background-color: rgba(0,0,0,0); */
    padding: 5px 15px 5px 15px;
    margin: 5x 5px 5px 5px;
    font-size: 16px;
    transition: all 0.3s;
}
.outline-btn:hover {
    content: '»';
    color: #008CFF;
    background-color: rgba(0,0,0,0);
    /* background-color: #008CFF; */
    transition: all 0.3s;
    
}

.outline-btn-orange {
    border: 2px solid orange;
    border-radius: 30px;
    color: orange;
    font-size: 16px;
    background-color: rgba(0,0,0,0);
    padding: 15px 20px 15px 20px;
    margin: 10px 10px 10px 0px;
    font-size: 18px;
    transition: all 0.3s;
}
.outline-btn-orange:hover {
    color: #fff;
    background-color: orange;
    transition: all 0.3s;
}
#illus-container {
    border-right: 2px solid orange;
}
#illus-container>img {
    position: absolute;
    /* margin-top: -250px; */
    width: 100%;
    height: auto;
    max-width: 100%;
}
#info-container {
    box-sizing: border-box;
    overflow: hidden;
}
#landing-info {
    opacity: 0;
    margin-left: -500px;
    max-width: 100%;
}
#pent-scene {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: -1;
    box-sizing: border-box;
    overflow: hidden;
}
.pentagon {
    position: absolute;
    z-index: -1;
}
.pent-container {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -1;
    /* border: 1px solid black; */
}
#pentagon-1 {
    width: 35%;
    height: auto;
    top: -12%;
    right: -8%;
}
#pentagon-2 {
    width: 15%;
    height: auto;
    bottom: -4%;
    right: 8%;
}
#pentagon-3 {
    width: 7%;
    height: auto;
    bottom: 30px;
    right: 45%;
}
#section-2 {
    padding-top: 70px;
    padding-bottom: 30px;
    transform: skewY(-5deg);
    /* text-align: center; */
    background: rgb(0,70,127);
    background: -moz-linear-gradient(left, rgba(0,70,127,1) 0%, rgba(0,140,255,1) 100%);
    background: -webkit-linear-gradient(left, rgba(0,70,127,1) 0%,rgba(0,140,255,1) 100%);
    background: linear-gradient(to right, rgba(0,70,127,1) 0%,rgba(0,140,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00467f', endColorstr='#008cff',GradientType=1 );
    border-top: 10px solid orange;
    border-bottom: 10px solid orange;
}
#section-2 > * {
    transform: skewY(5deg)
}

h1::after {
    content: '';
    display: block;
    width: 50px;
    background: orange;
    /* margin-top: -5px; */
    padding-bottom: 3px;
    /* min-width: 25%; */
    height: 2px;
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    /* background-color: #fff; */
    /* border: 1px solid black; */
    transition: width 0.3s;
}
h1:hover::after {
    width: 200px;
    transition: width 0.3s;
}
#about-desc:hover > h1::after {
    width: 200px;
    transition: width 0.3s;
}
div:hover > h1::after {
    width: 200px;
    transition: width 0.3s;
}
#services-container:hover > .h1-center::after {
    width: 200px;
    transition: width 0.3s;
}
#clients-container:hover > .h1-center::after {
    width: 200px;
    transition: width 0.3s;
}
div:hover > .h1-center::after {
    width: 200px;
    transition: width 0.3s;
}

#mobile-services-block {
	display: none;
}

.h1-center {
    text-align: center;
}
.h1-center::after {
    content: '';
    display: block;
    width: 100px;
    background: orange;
    /* margin-top: -5px; */
    padding-bottom: 3px;
    /* min-width: 25%; */
    height: 2px;
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    /* background-color: #fff; */
    /* border: 1px solid black; */
    margin-left: auto;
    margin-right: auto;
    transition: width 0.3s;
}
.h1-center:hover::after {
    width: 250px;
    transition: width 0.3s;
}

div:hover>.h1-center::after {
    width: 250px;
    transition: width 0.3s;
}

h3::after {
    content: '';
    display: block;
    margin-top: 0px;
    width: 20px;
    padding-bottom: 2px;
    background-color: orange; 
    font-family: 'Open Sans', sans-serif;
    /* min-width: 25%; */
    height: 2px;
    /* background-color: #fff; */
    transition: width 0.3s;
}
h3:hover::after {
    width: 80px;
    transition: width 0.3s;
}
.h3-center {
    text-align: center;
}
.h3-center::after {
    content: '';
    display: block;
    margin-top: 3px;
    width: 20px;
    padding-bottom: 3px;
    background-color: orange; 
    font-family: 'Open Sans', sans-serif;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    transition: width 0.3s;
}
.h3-center:hover::after {
    width: 80px;
    transition: width 0.3s;
}
.services-block:hover>.h3-center::after {
    width: 80px;
    transition: width 0.3s;
}

div:hover>.h3-center::after {
    width: 80px;
    transition: width 0.3s;
}

div:hover>h3::after {
    width: 80px;
    transition: width 0.3s;
}
#section-2 p {
    color: #fff;
}
#section-3 {
    padding-top: 30px;
    padding-bottom: 60px;
}
/* #section-3 div {
    border: 1px solid black;
} */
#aboutimg-container {
    text-align: center;
}
#about-img {
    padding-top: 30px;
    width: 80%;
	max-width: 250px;
    display: inline-block;
    height: auto;
}
.services-block {
    text-align: center;
}
.services-images {
    width: 25%;
	max-width: 70px;
    height: auto;
    /* max-height: 100px; */
    display: inline-block;
}
.section-3-img-block {
    padding: 60px;
}
.section-3-img-block1 {
    padding: 20px;
}

#section-5 {
    padding-top: 10px;
    /* padding-bottom: 50px; */
    color: #fff;
	margin-top: 20px;
	background-color: orange;
}
#section-6 {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
    background: rgb(0,70,127);
    background: -moz-linear-gradient(left, rgba(0,70,127,1) 0%, rgba(0,140,255,1) 100%);
    background: -webkit-linear-gradient(left, rgba(0,70,127,1) 0%,rgba(0,140,255,1) 100%);
    background: linear-gradient(to right, rgba(0,70,127,1) 0%,rgba(0,140,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00467f', endColorstr='#008cff',GradientType=1 );   
}

#footer {
    padding-top: 40px;
    /* padding-bottom: 40px; */
    background-color: #0D2940;
    color: #fff;
    font-size: 16px !important;
    /* text-align: center; */
}
.footer-p {
    font-size: 16px !important;
    line-height: 17px;
}
#footer_logo {
    max-width: 40px;
    width: 100%;
    height: auto;
    display: inline-block;
}
.footer-list {
    list-style: none;
    padding: 0px;
    text-align: left;
}
.footer-list>li {
    padding: 5px 0px 5px 0px;
    display: block;
    cursor: pointer;
}
.footer-list>li:hover {
    color: orange;
}
/* #svg {
    position: absolute;
    width: 50%;
    top: 0px;
    right: 0px;
    max-width: 75%;
    margin-right: -5%;
    margin-top: 10%;
    /* padding-top: 200px; */
    /* z-index: 998; 
	}*/
/* div {
	border: 1px solid black;
} */

#services-selector {
	border-left: 1px solid orange;
	padding: 0px;
	margin: 0px;
}
#services-selector>ul {
	list-style: none;
	margin-left: -40px;
}
#services-selector>ul>li {
	padding: 20px 20px;
	/* font-weight: bold; */
	display: block;
	cursor: pointer;
	color: #00467F;
}
.selected {
	color: orange !important;
	font-weight: bold;
	background: rgb(0,70,127);
    background: -moz-linear-gradient(left, rgba(0,70,127,1) 0%, rgba(0,140,255,1) 100%);
    background: -webkit-linear-gradient(left, rgba(0,70,127,1) 0%,rgba(0,140,255,1) 100%);
    background: linear-gradient(to right, rgba(0,70,127,1) 0%,rgba(0,140,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00467f', endColorstr='#008cff',GradientType=1 );
}
#services-display{
	max-height: 350px;
	box-sizing: border-box;
	overflow: hidden;
}
.services-blocks {
	position: absolute !important;
	width: 100%;
	margin-top: 300px;
	opacity: 0;
	background-color: #fff;
}
.services-area {
	box-shadow: 0 7px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius: 10px;
}
.box-bg {
  background: #0E467F !important;
  background-color: #0E467F !important;
}


.button {
    border-radius: 4px;
    background-color: #00467F;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 18px;
    padding: 8px;
    width: 110px;
    transition: all 0.5s;
    cursor: pointer;
    /* margin: 26px; */
    box-shadow: 0 10px 20px -8px rgb(0 0 0 / 70%);
  }
  
  .button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  .button:hover:after {
    opacity: 1;
    right: 10px;
  }


  .float{
	position:fixed;
	width:190px;
	height:40px;
	bottom:20px;
	left:40px;
	background-color:rgb(0, 140, 255);
    /* background-color: orange; */
	color:#FFF;
	border-radius:5px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    font-family: cursive;
    font-size: 22px;   
    font-weight: bold;   
}

.my-float{
	margin-top:22px;
}
