################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/portal/app/app_scheduler/error_log
/.vs
/portal/app/gp_careers/My Project-18c8852e08b8.json
