################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/portal/app/app_scheduler/error_log
