<div class="row px-2">
  <div class="col-3 text-center card card-body shadow-0">
    <h1 class="display-4"><i class="fa fa-user-circle fa-lg" aria-hidden="true"></i></h1>
    <h4>{{empData.ID}}</h4>
  </div>
  <div class="col text-left">
    <br>
    <h5>{{empData.firstname +" "+ empData.lastname}}</h5>
    <hr>
    <p>{{empData.officialid}}</p>
    <span class="badge badge-pill light-blue pill-bg">{{empData.country}}</span>&nbsp;<span class="badge badge-pill light-blue pill-bg">{{empData.role}}</span>
  </div>
</div>