<div class="row">
	<div class="col text-center primary-bg">
		<br><br><br><br><br>
	</div>
</div>
<div id="viewContainer" class="container">
	<div class="card rounded-0 border-0">
	  <div class="card-body">
	    <h3 class="text-center">Admin Panel</h3>
	  </div>
	</div>

	<br>
	<div ng-app="markAtt" ng-controller="markAttController" id="markAtt">
    
    <div class="card">
      
    </div>
    
	</div>

</div> 
<script type="text/javascript">
    TweenMax.set($("#viewContainer"), {marginTop: 50, autoAlpha: 0});

    TweenMax.to($("#viewContainer"), 0.5, {marginTop: 0, autoAlpha: 1, ease:Power2.easeInOut});
</script>