@media screen and (max-width: 992px)  {

body {
	margin: 20px 0 0 0;
	max-width: 100%;
	max-height: 100vh;
}
.align-right {
    text-align: left;
    float: left;
}
.mobile-block {
	display: block;
}
.non-mobile-block {
	display: none;
}
#header-links-container {
	display: none;
}
#header-links {
	display: none;
}
#mobile-menu {
	display: block;
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 998;
	background-color: #0D2940;
}
#hamburger{
	display: inline;
	position: fixed;
	z-index: 1000;
	top: 5px;
	right: 5px;
	width: 40px;
}
#hamburger>img {
	position: relative;
	width: 30px;
	padding-top: 10px;
	height: auto;
}
#testimonials-container {
	overflow: hidden;
	box-sizing: border-box;
}
#illus-container {
	display: none;
}
#about-img {
    padding-top: 30px;
    width: 80%;
	max-width: 200px;
    display: inline-block;
    height: auto;
}
.section-3-img-block {
    padding: 0px;
	max-width: 150px;
}
#mobile-menu-slide {
	width: 100%;
	height: auto;
	max-height: 0vh;
	background-color: #0D2940;
	z-index: 999;
	position: relative;
	margin-top: 60px;
	box-sizing: border-box;
	overflow-y: scroll;
}
#mobile-menu-container {
	width: 95%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: 10px solid #0D2940;
}
#mobile-menu-container>ul {
	list-style: none;
	color: white;
	text-align: center;
	padding: 0px;
}
#mobile-menu-container>ul>li {
	display: block;
	padding: 10px 0 10px 0;
	margin: 10px 0 10px 0;
	font-size: 22px;
	font-weight: bold;
}
.expandable>div {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	height: auto;
	box-sizing: border-box;
}
#map {
    margin-top: 40px;
}
#mobile-services-block {
	display: block;
}
.services-area {
	display: none;
}
}