<div class="row">
	<div class="col text-center primary-bg">
		<br><br><br><br><br>
	</div>
</div>

<div id="viewContainer" id="onboarding" ng-controller="rtrController" class="container">
	<div class="card rounded-0 border-0">
	  <div class="card-body">
	    <h3 class="text-center">Candidate RTR Documents</h3>
	  </div>
	</div>
	<br>

	<div ng-hide="hasPermission" class="alert alert-primary text-center" role="alert">
		You are not authorized to view this page
	</div>

	<div ng-show="hasPermission" class="card rounded-0 border-0">
	  <div class="card-body">
	  	<form ng-submit="onboardSubmit()">

	  	<div class="row justify-content-md-center align-items-center">
	  		<div class="col-3">
	  			<div class="form-group">
				    <!-- <label for="clientName"></label> -->
				    <select ng-model="clientName" class="form-control material-select" id="clientName" ng-dropdown>
				      <option value="" disabled selected>Select RTR</option>
                                                      <option value="gp-rtr">Globalpundits RTR</option>
				      <option value="sc-rtr">SC RTR</option>
                                                     				                                                                                                                                                 
				    </select>
				</div>
			</div>
			<div class="col-3">
	  			<div class="md-form">				   
				    <input ng-model="candidateID" type="text" class="form-control" id="candidateID">
                                                    <label for="candidateID">Candidate Bullhorn ID</label>
				</div>
				<!-- <div class="md-form">
				    <input ng-model="candidateID" type="text" class="form-control" id="candidateID">
				    <label for="candidateID">Placement ID</label>
				</div> -->
	  		</div>
	  		<div class="col-2">
		  		<button type="submit" class="btn btn-success btn-rounded aqua-gradient">Send</button>
		  	</div>
	  	</div>

	  	</form>

	  	<span ng-show="showFields">
	  	<hr>
	  	<h4 class="text-center">RTR Documents Fields</h4>
	  	<br>
	  		<form ng-submit="sendEnvelope()" id="offerForm">
	  		<div class="row justify-content-md-center rounded">
	  			<div class="col-4 border-right border-primary">
	  				<div class="md-form">
					    <label for="cName" ng-class="{active: respData.name != undefined}">Candidate Name</label>
					    <input ng-model="respData.name" type="text" class="form-control" id="cName" required="true">
					</div>

					<div class="md-form">
					    <label for="cEmail" ng-class="{active: respData.email != undefined}">Candidate Email</label>
					    <input ng-model="respData.email" type="text" class="form-control active" id="cEmail" required="true">
					</div>

					<div class="md-form">
					    <label for="cPhone" ng-class="{active: respData.phone != undefined}">Candidate phone</label>
					    <input ng-model="respData.phone" type="text" class="form-control" id="cPhone">
					</div>		


					
	  			</div>

	  			<div class="col-4 border-right border-primary border-right border border-top-0 border-bottom-0 border-secondary">
	  				 <span ng-if="clientName == 'sc-rtr'">
	  				<p class="text-center text-primary">SC RTR Specific Fields</p>					

					<div class="md-form">
					    <label for="gpF6">Requisition Number</label>
					    <input ng-model="respData.requisition" type="text" class="form-control" id="gpF6" required="true">
					</div>

					<div class="md-form">
					    <label for="gpF7">Position</label>
					    <input ng-model="respData.position" type="text" class="form-control" id="gpF7" required="true">
					</div>
                                                          </span>
                                                             <span ng-if="clientName == 'gp-rtr'">

						<p class="text-center text-primary">Globalpundits RTR Specific Fields</p>

						<div class="md-form">
						    <label for="gpRepresent">Client Name</label>
						    <input ng-model="respData.gpRepresent" type="text" class="form-control" required="true" id="gpRepresent" name="gpRepresent">
						</div>

						<div class="md-form">
						    <label for="gpPosition">Position</label>
						    <input ng-model="respData.gpPosition" type="text" class="form-control" required="true" id="gpPosition" name="gpPosition">
						</div>

						<div class="md-form">
						    <label for="gpPayRate">Pay Rate</label>
						    <input ng-model="respData.gpPayRate" type="text" class="form-control" required="true" id="gpPayRate" name="gpPayRate">
						</div>
                                                                        <div class="md-form">
						    <label for="gpOTrate">OT Rate</label>
						    <input ng-model="respData.gpOTrate" type="text" class="form-control" required="true" id="gpOTrate" name="gpOTrate">
						</div>

						<div class="md-form">
						    <label for="gpPto">PTO</label>
						    <input ng-model="respData.gpPto" type="text" class="form-control" required="true" id="gpPto" name="gpPto">
						</div>

						<div class="md-form">
						    <label for="gpPrediem">Pre Diem</label>
						    <input ng-model="respData.gpPrediem" type="text" class="form-control" required="true" id="gpPrediem" name="gpPrediem">
						</div>


					</span>					
            
	  			</div>
          
          <div class="col-4">
            
	  				<div class="md-form">
					    <label for="docuSignSubject" class="active">Email Subject</label>
					    <input ng-model="docuSignSubject" type="text" class="form-control" id="docuSignSubject">
					  </div>

            <div class="md-form">
                <label for="docusignMailBody" class="active">Email Body</label>
                <textarea ng-model="docuSignMailBody" class="md-textarea form-control" id="docusignMailBody"></textarea>
            </div>
            
            <br>
<!-- <tags-input ng-model="envCC" placeholder="CC" add-on-space="true" allowed-tags-pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$"></tags-input> -->
                      

            <button type="submit" class="btn btn-success btn-rounded aqua-gradient">Send Documents</button>
	  			</div>
	  		</div>
	  		</form>
	  	</span>
	  </div>
	</div>

	<br>
	<div ng-show="proccessingTextFlag" id="proccessingText" class="alert alert-primary text-center" role="alert">
		Placeholder
	</div>
</div>
<script type="text/javascript">
    TweenMax.set($("#viewContainer"), {marginTop: 50, autoAlpha: 0});

    TweenMax.to($("#viewContainer"), 0.5, {marginTop: 0, autoAlpha: 1, ease:Power2.easeInOut});
</script>